<header id="header">
    <a [routerLink]="['/']">
        <img src="../../assests/images/angularjs.png" id="logo">
    </a>
    <h1>{{titulo}}</h1>
    <div class="clearfix"></div>
</header>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  [routerLink]="['/']">List Restaurant</a>
            <a class="navbar-brand"  [routerLink]="['/']">List people</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<section class="main">
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
</section>