<h1>{{titulo}} -  <a [routerLink]="['pessoas','new']">New person?</a> </h1>

<div class="text-center">
    <img src="../../assests/images/loader.gif" *ngIf="loading =='show'">
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.tb_pessoa_nome }}</td>
        <td>{{pessoa.tb_pessoa_email}}</td>
        <td>{{pessoa.tb_pessoa_telfixo}}</td>
        <td>{{pessoa.tb_pessoa_endereco}}</td>
        <td>
            <div *ngIf="confirmado != pessoa.id">
                <a type="button" class="btn btn-success btn-xs" [routerLink]="['Pessoa',{id:pessoa.id}]">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                </a>
                <a type="button" class="btn btn-warning btn-xs"
                   [routerLink]="['/restaurante',pessoa.id, 'edit']">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                </a>
                <a type="button" class="btn btn-danger btn-xs" (click)="onBorrarConfirm(pessoa.id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Remove
                </a>
            </div>
            <div class="seguro" *ngIf="confirmado === pessoa.id">
                <a type="button" class="btn btn-danger btn-xs" (click)="onDeleteRestaurante(pessoa.id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Yes, delete
                </a>
                <a type="button" class="btn btn-primary btn-xs" (click)="onCancelarConfirm()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Not, delete
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>