<h1>{{titulo}} -  <a [routerLink]="['restaurant','new']">New restaurant?</a> </h1>

<div class="text-center">
    <img src="../../assests/images/loader.gif" *ngIf="loading =='show'">
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let restaurante of restaurantes">
        <td>
            <img src="{{base_url_imagem}}/{{restaurante.imagen}}" alt=""
                 *ngIf="restaurante.imagen && restaurante.imagen !== 'null'" class="image img-rounded"/>
        </td>
        <td>{{ restaurante.tb_restaurante_nome }}</td>
        <td>{{restaurante.tb_restaurante_endereco}}</td>
        <td>{{restaurante.tb_restaurante_descricao}}</td>
        <td>
            <div *ngIf="confirmado != restaurante.id">
                <a type="button" class="btn btn-success btn-xs" [routerLink]="['Restaurante',{id:restaurante.id}]">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                </a>
                <a type="button" class="btn btn-warning btn-xs"
                   [routerLink]="['/restaurante',restaurante.id, 'edit']">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                </a>
                <a type="button" class="btn btn-danger btn-xs" (click)="onBorrarConfirm(restaurante.id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Remove
                </a>
            </div>
            <div class="seguro" *ngIf="confirmado === restaurante.id">
                <a type="button" class="btn btn-danger btn-xs" (click)="onDeleteRestaurante(restaurante.id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Yes, delete
                </a>
                <a type="button" class="btn btn-primary btn-xs" (click)="onCancelarConfirm()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Not, delete
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>