<h1>{{titulo}}</h1>

<div class="text-center">
    <img src="../../assests/images/loader.gif" *ngIf="loading =='show'">
</div>
<form name="form">
    <div class="form-group">
        <label for="name">Nome do restaurante</label>
        <input type="text" id="name" name="name" [(ngModel)]="restaurante.tb_restaurante_nome" class="form-control"
               placeholder="Informe o nome do restaurante"/>
    </div>

    <div class="form-group">
        <label>Endereço</label>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="restaurante.tb_restaurante_endereco" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <textarea type="text" name="descripcion" [(ngModel)]="restaurante.tb_restaurante_descricao" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Nível do preço</label>
        <select (change)="callNivelPreco(tb_restaurante_preco.value)" #tb_restaurante_preco class="form-control">
            <option value="">--Selecione--</option>
            <option value="bajo" [attr.selected]="restaurante.tb_restaurante_preco === 'bajo' ? 'selected': null">Bajo</option>
            <option value="normal" [attr.selected]="restaurante.tb_restaurante_preco === 'normal' ? 'selected': null">Normal</option>
            <option value="alto" [attr.selected]="restaurante.tb_restaurante_preco === 'alto' ? 'selected': null">Alto</option>
        </select>
    </div>
    <div class="form-group">
        <label>Enviar imagen:</label>
        <input type="file" placeholder="subir imagen...." (change)="fileChangeEvent($event)" class="form-control"/>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-warning" (click)="cancelar()">Cancelar</button>
    </div>

</form>
