.image{
    width: 100px;
    height: 100px;
}

header {
    padding: 15px;
    background: #1976D2;
}

header #logo {
    width: 50px;
    display: block;
    float: left;
    margin-top: 4px;
    padding-right: 8px;
}

header h1 {
    padding: 0 10px;
    line-height: 59px;
    margin: 0 0 0 3px;
    font-size: 25px;
    text-transform: uppercase;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    float: left;
}