.clearfix {
    float: none;
    clear: both;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Helvetica, Arial;
}

#content {
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    /*margin-top: 20px;*/
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
}

header {
    padding: 15px;
    background: #1976D2;
}

header #logo {
    width: 50px;
    display: block;
    float: left;
    margin-top: 4px;
    padding-right: 8px;
}

header h1 {
    padding: 0 10px;
    line-height: 59px;
    margin: 0 0 0 3px;
    font-size: 25px;
    text-transform: uppercase;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    float: left;
}

.main {
    padding: 15px;
}

.main h1 {
    color: #444;
}

#restaurantes-list {
    padding: 0;
    margin: 0;
}

.restaurante-item {
    list-style: none;
    width: 100%;
    border-top: 1px solid #ddd;
    height: 100px;
    float: left;
    padding: 20px 0;
    color: gray;
}

.restaurante-item .image {
    height: 105px;
    width: 105px;
    overflow: hidden;
    background: #ccc;
    float: left;
}

.restaurante-item .image img{
    width: 200px;
}


.image-rest-detail{
    width: 200px;
    float: left;
    padding-right: 30px;
}

.data-rest{
    float: left;
}


.restaurante-item .data {
    float: left;
    margin-left: 20px;
}

.restaurante-item h4 {
    color: #444;
    margin: 5px 0 0 0;
    padding: 0;
}

.btn{
    font-size: 13px;
    border-color: #1976D2;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #ddd;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    background: #0074D9;
    cursor: pointer;
}

.btn-editar{
    background: #0A0;
    border-color: #59A600;
}

.btn-eliminar{
    background: #E23237;
    border-color: #F54747;
}

.loading{
    list-style: none;
    text-decoration: none;
}

.restaurante-box .precio{
    color: white;
    background: #138812;
    font-size:14px;
    padding: 10px 10px 5px 20px;
    width: 50%;
    -webkit-box-shadow: #265226 2px 2px;
    -moz-box-shadow: #265226 2px 2px;
    box-shadow: #265226 2px 2px;
}
.restaurante-box .direccion{
    color: #cccccc;
}

nav{
    width:100%;
    background: #f2f2f2;
    height: 45px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

nav ul{
    margin:0;
    padding: 0;
}

nav ul li{
    margin:0;
    display: block;
    float: left;
    border-right: 1px solid white;
    line-height: 35px;
    line-height: 35px;
}

nav ul li a{
    display: block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #444;
    transition: all 100ms;
}

nav ul li a:hover{
    background: #1976D2;
    color: white;
    opacity: 0.8;
}

.seguro{
    float: left;
    position: absolute;
    background: white;
    padding:10px;
    margin-top:-45px;
}